/* Tablet */
@media (max-width: 1199px) {
    .container {
        width: 900px;
    }
    .header {
        height: 591px;
    }
    .header-top, .header-content {
        width: 900px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-nav-button {
        display: block;
        padding: 0;

        background: transparent;
        border: none;
    }
    .header-nav-list {
        display: none;
    }
    .title {
        font-size: 52px;
    }
    .header-scroll {
        font-size: 0;
    }
}

/* Mobile */
@media (max-width: 899px) {
    .container {
        width: 600px;
    }
    .header-top, .header-content {
        width: 600px;
    }
    .header-content p {
        font-size: 20px;
    }
    .title {
        font-size: 42px;
        line-height: 1;
    }
}

/* Mobile XS */
@media (max-width: 599px) {
    .container {
        width: 320px;
    }
    .header-top, .header-content {
        width: 320px;
    }
    .logo {
        font-size: 30px;
    }
    .title {
        margin-bottom: 10px;
        
        font-size: 32px;
        line-height: 1;
    }
    .header-content p {
        font-size: 18px;
    }
}