@media (max-width: 599px) {
    /* HEADER */
    .container {
        width: 320px;
    }

    .logo {
        font-size: 30px;
    }

    .title {
        margin-bottom: 10px;
        
        font-size: 32px;
    }

    .header-content p {
        font-size: 18px;
    }


    /* MAIN */
    .main {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .container {
        width: 100%;
    }

    .header-2 {
        font-size: 34px;
    }

    .main-row {
        flex-direction: column-reverse;
        margin-bottom: 40px;
    }

    .main-img {
        width: auto;
        height: 150px;
        margin-right: 0;
        margin-bottom: 20px;
    }


    /* FOOTER */
    .footer {
        text-align: center;
    }

    .footer-widgets-wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .footer-widget {
        margin-bottom: 40px;
    }

    .footer-widget + .footer-widget {
        margin-left: 0;
    }

    .footer-widget-title {
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    .footer-widget-services {
        display: block;
    }

    .footer-widgets-wrapper > * {
        width: 100%;
    }

    .footer-widget-list {
        font-size: 16px;
    }

    .footer-widget-list li {
        margin-bottom: 10px;
    }

    .footer-copyright {
        margin: auto;
    }
}